.review_creation_wrapper {
    background-color: #767165;
    color: white;
    border: 2px solid #AC1A1A;
    width: 360px;
    height: 164px;
    padding: 20px;
}

.review_creation_submit_button {
    width: 160px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #ccc;
}