.cart_page_select_section {
    display: flex;
    justify-content: space-between;
    background-color: #767165;
    color: white;
    border: 2px solid #AC1A1A;
    font-weight: bold;
    height: 24px;
    padding: 24px;
}

.cart_page_select_all {
    display: flex;
}