.review {
    position: relative;
    background-color: #767165;
    color: #ccc;
    border: 2px solid #AC1A1A;
    padding: 10px;
    margin: 20px 0;
    height: 112px;
}

.review_title_date {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

.rate_author {
    display: flex;
}

.review_title {
    color: white;
}

/* Bottom */
.review_bottom {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    padding: 10px;
}

.rating_stars {
    display: flex;
    align-items: center;
}

.star_icon {
    width: 20px;
    height: 20px;
    padding-right: 3px;
}

.review_bottom_right {
    display: flex;
    align-items: center;
}

.author_username {
    display: flex;
    align-items: center;
}

.delete_button {
    background-color:  #AC1A1A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 4px 8px;
    height: 24px;
    margin-right: 16px;
}