.cart_page_wrapper {
    color: white;
    margin: 20px 120px;
}

.cart_page_header {
    text-align: center;
    margin-bottom: 10px;
}

/* Main */
.cart_page_main_section {
    display: flex;
}

.cart_page_products_section {
    width: 100%;
}

/* Summary */
.cart_page_summary_section {
    display: flex;
    justify-content: space-between;
    background-color: #767165;
    color: white;
    border: 2px solid #AC1A1A;
    font-weight: bold;
    margin: 20px 0 20px 20px;
}

.cart_page_delete_selected {
    display: flex;
}

.cart_page_icon {
    width: 30px;
    height: 30px;
}