# frontend
VITE_BACKEND_BASE_URL=http://localhost:8000

# django
DJANGO_ENV=development
DJANGO_SETTINGS_MODULE=backend.settings.development
CSRF_TRUSTED_ORIGINS=http://localhost:5173
SECRET_KEY=qSrXcJdJEr8hzbacuybtReyltgMrE9dHFHNAnutmfQCaAvr5vE

# database
POSTGRES_DB=quick_start_db
POSTGRES_USER=quick_start_user
POSTGRES_PASSWORD=quick_start_password
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
PGPASSWORD=quick_start_password

# redis
REDIS_LOCATION_DEFAULT=redis://:8NE5LpvSJpGxsuxfKvyq@redis:6379/0
REDIS_LOCATION_SESSIONS=redis://:8NE5LpvSJpGxsuxfKvyq@redis:6379/1
REDIS_PASSWORD=8NE5LpvSJpGxsuxfKvyq