#.env
POSTGRES_DB=quick_start_db
POSTGRES_USER=quick_start_user

REDIS_PASSWORD=8NE5LpvSJpGxsuxfKvyq

#frontend .env.development
VITE_BACKEND_BASE_URL=http://localhost:8000

#backend .env.development
DJANGO_ENV=development
DJANGO_SETTINGS_MODULE=backend.settings.development
CSRF_TRUSTED_ORIGINS=http://localhost:5173

DB_NAME=quick_start_db
DB_USER=quick_start_user
DB_PASSWORD=quick_start_password
DB_HOST=127.0.0.1
DB_PORT=5432

SECRET_KEY=qSrXcJdJEr8hzbacuybtReyltgMrE9dHFHNAnutmfQCaAvr5vE

REDIS_LOCATION_DEFAULT=redis://:8NE5LpvSJpGxsuxfKvyq@redis:6379/0
REDIS_LOCATION_SESSIONS=redis://:8NE5LpvSJpGxsuxfKvyq@redis:6379/1