services:
  frontend:
    container_name: frontend_container
    build: ./frontend
    ports:
        - "5173:5173"

  backend:
    container_name: backend_container
    build: ./backend
    depends_on:
      database:
        condition: service_healthy
        restart: true
    env_file: ./backend/.env.django
    environment:
        DB_HOST: database
    volumes:
        - media_volume:/app/media
    ports:
        - "8000:8000"
  
  database:
    container_name: database_container
    image: postgres:17.5-alpine3.22
    restart: always
    secrets:
        - postgres_password
    env_file: .env.postgres
    environment:
        POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    volumes:
        - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    ports:
        - "5432:5432"

secrets:
    postgres_password:
        file: postgres_password.txt

volumes:
    postgres_data:
    media_volume: