services:
  frontend:
    container_name: frontend-container
    build:
      context: ./frontend
    env_file: ./frontend/.env.production
    depends_on:
      backend:
        condition: service_healthy
    expose:
      - 80
    networks:
      - app-network

  backend:
    container_name: backend-container
    build: ./backend
    env_file: ./backend/.env.production
    depends_on:
      database:
        condition: service_healthy
    networks:
      - app-network
    volumes:
      - media_volume:/app/media
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    expose:
      - 8000
  
  database:
    container_name: database-container
    image: postgres:17.5-alpine3.22
    restart: always
    secrets:
      - postgres_password
    env_file: .env.postgres
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
    networks:
      - app-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    expose:
      - 5432
    
  nginx:
    container_name: nginx-container
    build: ./nginx
    ports:
      - "80:80"
      # - "443:443"
    networks:
      - app-network
    volumes:
      - media_volume:/app/media:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/certbot:/var/www/certbot
    depends_on:
      frontend:
        condition: service_started
      backend:
        condition: service_healthy
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

secrets:
  postgres_password:
    file: postgres_password.txt

volumes:
  postgres_data:
  media_volume: