.search_bar {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    height: 30px;
    position: relative;
    right: 50px;
}

.search_bar_element {
    height: 30px;
    width: 480px;
    border: none;
    padding: 0 10px;
}

.search_bar button {
    cursor: pointer;
}

.search_bar_icon {
    height: 24px;
    position: relative;
    top: 3px;
    right: 3px;
    margin-left: 8px;
}