.user_menu_wrapper {
    position: fixed;
    top: 84px;
    right: 20px;
    background-color: grey;
    width: 240px;
}

.user_menu_section {
    padding: 12px 0;
    border: 1px solid black;
    list-style-type: none;
}

.user_menu_section_icon {
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    padding: 0 12px;
}