.product_container {
    display: flex;
    background-color: #767165;
    color: white;
    border: 2px solid #AC1A1A;
    /* border-radius: 5px; */
    height: 160px;
    margin: 20px 0;
    padding: 20px;
}

.product_image img {
    box-sizing: border-box;
    border: 2px solid black;
    width: 160px;
    height: 160px;
}

.product_container h2 {
    margin: 0;
    padding: 0;
}

.product_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    width: 100%;
}

.content {
    width: 100%;
    height: 60px;
    font-size: 1rem;
}

.product_title_date {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

.product_title a {
    font-size: 1.6rem;
    text-decoration: none;
    color: white;
}
.product_title a:hover {
    color: #ac1a1a;
}

.product_description {
    color: #ccc;
}

.product_bottom {
    display: flex;
    justify-content: space-between;
}

.product_bottom_left_section {
    position: relative;
    top: 10px;
}

.product_icon {
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    right: 10px;
}

.star_icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
}

.product_add_to_cart_button {
    width: 120px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #ccc;
    color: black;
}

.product_cart_page_link_button {
    width: 120px;
    height: 45px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #ac1a1a;;
    color: white;
}