.review_sort_bar_wrapper {
    display: flex;
    background-color: #767165;
    color: white;
    border: 2px solid #AC1A1A;
    font-weight: bold;
    height: 24px;
    padding: 12px;
    /* margin: 20px 120px 20px 120px; */
}

.select {
    background-color: inherit;
    color: white;
    font-size: inherit;
    font-weight: bold;
    height: 32px;
    margin-left: 16px;
}